<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Togle NavBar</title>
    <link rel="stylesheet" href="../../dist/css/wayami.min.css">
    <link rel="stylesheet" href="../../dist/css/icon.css">
</head>
<body>
    
    <header class="header">

        <div class="way-container menu-mobile">

            <div class="icon-menu">
                <i class="fe fe-align-justify"></i>
            </div>

            <div class="logo">
                <h3>Eadfast</h3>
            </div>

        </div>

        <nav class="way-container desktop">
            <ul class="desktop__navigation">
                <li><a href="#">Eadfast</a></li>
                <li><a href="#">Motivo</a></li>
                <li><a href="#">Diversos</a></li>
                <li><a href="#">Equipa</a></li>
                <li><a href="#">Contantos</a></li>
            </ul>
        </nav>
    </header>

    <nav class="mobile">
        <ul class="mobile__items">

            <!-- Icon  para fechar o menu-->

            <li><i class="fe fe-x fechar"></i></li>

            <!-- Menu Mobile -->
            <li><a href="#">Eadfast</a></li>
            <li><a href="#">Motivo</a></li>
            <li><a href="#">Diversos</a></li>
            <li><a href="#">Equipa</a></li>
            <li><a href="#">Contantos</a></li>
        </ul>
    </nav>


    <script src="../../script/navBar.js"></script>
</body>
</html>