<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tab Bar Text</title>
    <link rel="stylesheet" href="../../dist/css/wayami.min.css">
    <link rel="stylesheet" href="../../dist/css/icon.css">
</head>

<body>

    <div class="tabBar-text">
        <ul>

            <li>
                <a href="#">
                    <i class="fe fe-home"></i>
                    <span>Início</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fe fe-user"></i>
                    <span>Perfil</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fe fe-plus-square"></i>
                    <span>Add</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fe fe-tag"></i>
                    <span>Loja</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fe fe-settings"></i>
                    <span>Definições</span>
                </a>
            </li>

        </ul>
    </div>

</body>

</html>