<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alerts-Wayami</title>
    <link rel="stylesheet" href="../../dist/css/wayami.min.css">
    <link rel="stylesheet" href="../../dist/css/icon.css">
</head>
<body>
    <div class="alert">
        Este é o Alerta Primário do Wayami!
    </div>

    <div class="alert-error">
        Este é o Alerta Primário do Wayami!
    </div>

    <div class="alert-sucess">
        Este é o Alerta Primário do Wayami!
    </div>

    <div class="alert-warning">
        Este é o Alerta Primário do Wayami!
    </div>

    <div class="alert-lg">
        Este é o Alerta Primário do Wayami!
    </div>

    <div class="alert-sucess">
        <i class="fe fe-heart"></i> Este é o Alerta Primário do Wayami!
    </div>

    <div class="alert-lg">
        Este é o Alerta Primário do Wayami!
    </div>

    <div class="alert-secondary">

        <div class="alert-header">
            <h1 class="alert-title">Registo Salvo</h1>
            <i class="fe fe-x alert-close"></i>
        </div>

        <div class="alert-content">
            Estaos presente de um alert secundario do Wayami!
        </div>

    </div>


</body>
</html>