<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Avatar-Wayami</title>
    <link rel="stylesheet" href="../../dist/css/wayami.min.css">
    <link rel="stylesheet" href="../../dist/css/icon.css">
</head>
<body>
    <div class="container">
        <img src="../../dist/img/1.jpg" class="avatar" alt="Avatar" srcset="">
        <img src="../../dist/img/2.jpg" class="avatar" alt="Avatar" srcset="">
        <img src="../../dist/img/3.jpg" class="avatar" alt="Avatar" srcset="">
        <img src="../../dist/img/4.jpg" class="avatar" alt="Avatar" srcset="">
    </div>

    <div class="container">
        <img src="../../dist/img/1.jpg" class="avatar-sm" alt="Avatar" srcset="">
        <img src="../../dist/img/2.jpg" class="avatar-md" alt="Avatar" srcset="">
        <img src="../../dist/img/3.jpg" class="avatar-lg" alt="Avatar" srcset="">
        <img src="../../dist/img/4.jpg" class="avatar-xl" alt="Avatar" srcset="">
        <img src="../../dist/img/1.jpg" class="avatar-xxl" alt="Avatar" srcset="">
    </div>

    <div class="container">
        <span class="avatar-placeholder red">E</span>
        <span class="avatar-placeholder blue">A</span>
        <span class="avatar-placeholder yellow">D</span>
        <span class="avatar-placeholder green">F</span>
        <span class="avatar-placeholder orange">A</span>
        <span class="avatar-placeholder gray">S</span>
        <span class="avatar-placeholder">T</span>
    </div>

    <div class="avatar-list container">
        <img src="../../dist/img/1.jpg" class="avatar" alt="Avatar" srcset="">
        <img src="../../dist/img/2.jpg" class="avatar" alt="Avatar" srcset="">
        <img src="../../dist/img/3.jpg" class="avatar" alt="Avatar" srcset="">
        <img src="../../dist/img/4.jpg" class="avatar" alt="Avatar" srcset="">
        <div class="avatar-placeholder">+4</div>
    </div>

    <div class="container">

        <span class="avatar-status">
            <img src="../../dist/img/4.jpg" class="avatar-xl" alt="">
            <span class="status-xl yellow"></span>
        </span>

    </div>

     <div class="container">

        <span class="avatar-status">
            <img src="../../dist/img/4.jpg" class="avatar-xxl" alt="">
            <span class="status-xl yellow"></span>
        </span>
        
    </div>


</body>
</html>