<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Btn-Wayami</title>
    <link rel="stylesheet" href="../../dist/css/wayami.min.css">
    <link rel="stylesheet" href="../../dist/css/icon.css">
</head>
<body>
    
    <div class="container">
        <button class="btn">Btn Default</button>
        <button class="btn-primary">Btn Primary</button>
        <button class="btn-sucess">Btn Sucess</button>
        <button class="btn-error">Btn Error</button>
        <button class="btn-warning">Btn Warning</button>
        <button class="btn-info">Btn Info</button>
    </div>

    <div class="container">
            <button class="btn round">Btn Default</button>
            <button class="btn-primary round">Btn Primary</button>
            <button class="btn-sucess round">Btn Sucess</button>
            <button class="btn-error round">Btn Error</button>
            <button class="btn-warning round">Btn Warning</button>
            <button class="btn-info round">Btn Info</button>
    </div>

    <div class="container">
        <button class="btn quare">Btn Default</button>
        <button class="btn-primary square">Btn Primary</button>
        <button class="btn-sucess square">Btn Sucess</button>
        <button class="btn-error square">Btn Error</button>
        <button class="btn-warning square">Btn Warning</button>
        <button class="btn-info square">Btn Info</button>
    </div>
    <div class="container">
        <button class="btn-gradient-1">Gradient-1</button>
        <button class="btn-gradient-2">Gradient-2</button>
        <button class="btn-gradient-3">Gradient-3</button>
        <button class="btn-gradient-4">Gradient-4</button>
        <button class="btn-gradient-5">Gradient-5</button>
    </div>


    <div class="container">
            <button class="btn" disabled>Btn Padrao</button>
            <button class="btn" disabled>Btn Padrao</button>
            <button class="btn" disabled>Btn Padrao</button>
            <button class="btn" disabled>Btn Padrao</button>
            <button class="btn" disabled>Btn Padrao</button>
        </div>
    
        <div class="container">
            <button class="btn__outline--primary">Btn Padrao</button>
            <button class="btn__outline--sucess">Btn Padrao</button>
            <button class="btn__outline--error">Btn Padrao</button>
            <button class="btn__outline--warning">Btn Padrao</button>
            <button class="btn__outline--info">Btn Padrao</button>
        </div>
    
        <div class="container">
            <button class="btn-sm">Sm</button>
            <button class="btn-lg">Btnlg</button>
            <button class="btn-sucess btn-block">Btn Block</button>
        </div>
    
        <div class="container">
            <button class="btn-primary"><i class="text-white fe fe-home"></i>Home</button>
            <button class="btn-sucess"><i class="text-white fe fe-heart"></i>Like</button>
            <button class="btn-error"><i class="text-white fe fe-heart"></i>Btn Error</button>
            <button class="btn-warning"><i class="text-white fe fe-heart"></i>Btn Warning</button>
            <button class="btn-info"><i class="text-white fe fe-heart"></i>Btn Info</button>
        </div>
    
        <div class="container">
            <button class="btn-primary btn-icon"><i class="text-white fe fe-home"></i></button>
            <button class="btn-sucess btn-icon"><i class="text-white fe fe-settings"></i></button>
            <button class="btn-error btn-icon"><i class="text-white fe fe-heart"></i></button>
            <button class="btn-warning btn-icon"><i class="text-white fe fe-home"></i></button>
            <button class="btn-info btn-icon"><i class="text-white fe fe-heart"></i></button>
        </div>
    
        <div class="container">
            <label class="dropdown">

                <div class="dropdown-btn"> <i class="fe fe-heart"></i> Mes</div>
                <input type="checkbox" class="dropdown-input" id="teste">

                <ul class="dropdown-menu">
                    <li>Novembro</li>
                    <li>Maio</li>
                    <li>Junho</li>
                </ul>

            </label>
        </div>

        <button class="btn btn-float"><i class="fe fe-user text-white"></i></button>

</body>
</html>