<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CardBlog-Wayami</title>
    <link rel="stylesheet" href="../../dist/css/wayami.min.css">
    <link rel="stylesheet" href="../../dist/css/icon.css">
</head>
<body>

    <div class="container">

            <div class="card-container">

                <div class="card-secondary">
            
                    <div class="card-img">
                        <img src="../../dist/img/Ead.jpg" alt="Card Img">
                    </div>
            
                    <h3 class="card-title">Compre Agora o wayami</h3>
            
                    <div class="card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Vel distinctio provident molestiae! Corporis perferendis.
                    </div>
            
                    <div class="card-footer">
                        <img src="../../dist/img/4.jpg" class="avatar" alt="">
                        <span>Edvaldo</span>
                    </div>
            
                </div>

                <div class="card-secondary card-transparent">
            
                    <div class="card-img">
                        <img src="../../dist/img/Ead.jpg" alt="Card Img">
                    </div>
            
                    <h3 class="card-title">Compre Agora o wayami</h3>
            
                    <div class="card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Vel distinctio provident molestiae! Corporis perferendis.
                    </div>
            
            
                </div>
            
            </div>

    </div>

</body>
</html>