<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Card-Wayami</title>
    <link rel="stylesheet" href="../../dist/css/wayami.min.css">
    <link rel="stylesheet" href="../../dist/css/icon.css">
</head>
<body>
    
    <div class="container">

        <div class="card-container">

            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Card Title</h2>
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. In esse sapiente 
                    ab consectetur quia magnam dicta vel, quos nemo officiis
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Card Title</h2>
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. In esse sapiente 
                    ab consectetur quia magnam dicta vel, quos nemo officiis
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Card Title</h2>
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. In esse sapiente 
                    ab consectetur quia magnam dicta vel, quos nemo officiis
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Card Title</h2>
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. In esse sapiente 
                    ab consectetur quia magnam dicta vel, quos nemo officiis
                </div>
            </div>

        </div>

    </div>

</body>
</html>