<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tabela-Wayami</title>
    <link rel="stylesheet" href="../../dist/css/wayami.min.css">
    <link rel="stylesheet" href="../../dist/css/icon.css">
</head>
<body>
    
    <div class="table-primary">
        <table class="no-efectf">
        
            <tr class="table-header">
                <th>Código</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Endereço</th>
                <th>Email</th>
                <th>Git</th>
        
                </tr>
        
                <tr>
                    <td>001</td>
                    <td>Edvaldo Afonso</td>
                    <td>994633438</td>
                    <td>Viana</td>
                    <td>eadafonso@gmail.com</td>
                    <td>ead"github.com</td>
                </tr>
                <tr>
                    <td>001</td>
                    <td>Edvaldo Afonso</td>
                    <td>994633438</td>
                    <td>Viana</td>
                    <td>eadafonso@gmail.com</td>
                    <td>ead"github.com</td>
        
                </tr>
        
        
            </table>
    </div>
    <br>
            <table class="no-efectf">
        
                <tr class="table-header">
                    <th class="col">Código</th>
                    <th class="col">Nome</th>
                    <th class="col">Telefone</th>
                    <th class="col">Endereço</th>
                    <th class="col">Email</th>
                    <th class="col">Git</th>
        
                </tr>
        
                <tr>
                    <td class="col" data-label="Código:">001</td>
                    <td class="col" data-label="Nome">Edvaldo Afonso</td>
                    <td class="col" data-label="Telefone">994633438</td>
                    <td class="col" data-label="Endereço">Viana</td>
                    <td class="col" data-label="Email">eadafonso@gmail.com</td>
                    <td class="col" data-label="Git">ead"github.com</td>
                </tr>
        
                <tr>
                    <td class="col" data-label="Código:">001</td>
                    <td class="col" data-label="Nome">Edvaldo Afonso</td>
                    <td class="col" data-label="Telefone">994633438</td>
                    <td class="col" data-label="Endereço">Viana</td>
                    <td class="col" data-label="Email">eadafonso@gmail.com</td>
                    <td class="col" data-label="Git">ead"github.com</td>
                </tr>
                <tr>
                    <td class="col" data-label="Código:">001</td>
                    <td class="col" data-label="Nome">Edvaldo Afonso</td>
                    <td class="col" data-label="Telefone">994633438</td>
                    <td class="col" data-label="Endereço">Viana</td>
                    <td class="col" data-label="Email">eadafonso@gmail.com</td>
                    <td class="col" data-label="Git">ead"github.com</td>
        
                </tr>
        
        
            </table>
        
</body>
</html>