<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sombra</title>
    <link rel="stylesheet" href="../../dist/css/wayami.min.css">
</head>

<body>
    <div class="container" style="display: flex; justify-content: space-between;">
        <div class="way-box" style="width: 200px; height: 200px;">
            ead
        </div>

        <div class="way-box-1" style="width: 200px; height: 200px;">
            ead
        </div>

        <div class="way-box-2" style="width: 200px; height: 200px;">
            ead
        </div>

        <div class="way-box-3" style="width: 200px; height: 200px;">
            ead
        </div>

        <div class="way-box-4" style="width: 200px; height: 200px;">
            ead
        </div>

        <div class="way-box-0" style="width: 200px; height: 200px;">
            ead
        </div>
    </div>

</body>
</html>