<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wayami-Base</title>
    <link rel="stylesheet" href="../../dist/css/wayami.min.css">
</head>
<body>
    ead

    <h1 class="text-blue-dark-1">Edvaldo</h1>
    <h2>Ead</h2>
    <h3>Ead</h3>
    <h4>Ead</h4>
    <h5>Ead</h5>
    <h6 class="text-red">Ead</h6>

    <a href="#">Eadfast</a>

    <i class="fe fe-heart"></i>
</body>
</html>