.container
    width 100%
    padding 10px 1.7rem

.square
    border-radius 0

.round
    border-radius 50px

.left
    float left

.right
    float right
    
.text-left
    text-align left 
    
.text-right
    text-align right 
    
.text-justify
    text-align justify
    
.text-center
    text-align center

.center
    display block
    text-align center
    margin 0 auto

.text-uppercase
    text-transform uppercase
    
.text-capitalize
    text-transform: capitalize
    
.text-lowercase
    text-transform lowercase

.hidden
    display none

.show
    display block

.font-bold
    font-weight 700

.font-light
    font-weight 300

.font-normal
    font-weight 400

.border-default
    border 1px solid #ddd