// PALETAS DE CORES

$red = #f44336
$gray = #555555
$blue = #1e88e5
$orange = #ff784f
$green = #5ece7f
$yellow = #FFCF4C
$white = #ffffff
$black = #000000


$red-light-1 = #ff3548
$red-light-2 = #ff2a3e
$red-light-3 = #f41c30
$red-dark-1 = #c52447
$red-dark-2 = #94132f
$red-dark-3 = #980d2b

$gray-light-1 = #706e6e
$gray-light-2 = #666565
$gray-light-3 = #5d5d5d
$gray-dark-1 = #313131
$gray-dark-2 = #202020
$gray-dark-3 = #121212

$blue-light-1 = #e1f5fe;
$blue-light-2 = #b3e5fc;
$blue-light-3 = #81d4fa;
$blue-dark-1 = #1565c0;
$blue-dark-2 = #1976d2;
$blue-dark-3 = #1e88e5;

$orange-light-1 = #ffcc80
$orange-light-2 = #ffb74d
$orange-light-3 = #ffa726
$orange-dark-1 = #f57c00
$orange-dark-2 = #ef6c00
$orange-dark-3 = #e65100

$green-light-1 = #a5d6a7
$green-light-2 = #81c784
$green-light-3 = #66bb6a
$green-dark-1 = #388e3c
$green-dark-2 = #2e7d32
$green-dark-3 = #1b5e20

$yellow-light-1 = #fff59d
$yellow-light-2 = #fff176
$yellow-light-3 = #ffee58
$yellow-dark-1 = #fbc02d
$yellow-dark-2 = #f9a825
$yellow-dark-3 = #f57f17

