.radio
    margin 16px 0
    display block
    cursor pointer
    >input 
        display none

.radio input+span
    line-height 15px
    height 15px
    padding-left 15px
    display block
    position relative

.radio input+span:not(:empty)
    font-size 16px
    padding-left 20px

.radio input+span:before,
.radio input+span:after {
    content: '';
    width: 17px;
    height: 17px;
    display: block;
    border-radius: 50%;
    left: 0;
    top: 0;
    position: absolute;
}

.radio input+span:before {
    background: #D1D7E3;
    
}

.radio input+span:after {
    background: #fff;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
}

.radio input:checked+span:before {
    background: #5D9BFB;
}

.radio input:checked+span:after {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
}

.radio:hover input:checked+span:after {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
}