input[type="range"]
    display block
    -webkit-appearance none
    background-color $blue
    width 100%
    height 1.5px
    border-radius 5px
    outline 0

input[type="range"]::-webkit-slider-thumb
    -webkit-appearance none
    background-color #fff
    width 13.5px
    height 13.5px
    border-radius 50%
    border 1px solid #ccc
    cursor pointer
​
input[type="range"]::-webkit-slider-thumb:active
    transform: scale(1.1)

