<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CheckBox</title>
    <link rel="stylesheet" href="../../dist/css/wayami.min.css">
</head>
<body>
    
    <div class="container">

        <div class="check-block">
            <label class="checkBox">Aprender HTML5
            <input type="checkbox" checked="checked" disabled>
            <span class="checkmark disabled"></span>
        </label>

        <label class="checkBox">Aprender JS
            <input type="checkbox">
            <span class="checkmark red"></span>
        </label>

        <label class="checkBox">Aprender Git
            <input type="checkbox">
            <span class="checkmark yellow"></span>
        </label>

        <label class="checkBox"> git
            <input type="checkbox" disabled="disabled">
            <span class="checkmark yellow disabled"></span>
        </label>
        </div>

    </div>



</body>
</html>