<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Input</title>
    <link rel="stylesheet" href="../../dist/css/wayami.min.css">
    <link rel="stylesheet" href="../../dist/css/icon.css">
</head>
<body>
    
    <div class="container">
        <input type="text" class="input" placeholder="Nome">
        <input type="number" class="input" placeholder="Telfone">
        <input type="email" class="input" placeholder="Email">
        <input type="text" class="input" placeholder="Adress">
        <input type="text" class="input" placeholder="Nome">
    </div>

    <div class="container">
        <input type="text" class="input square" placeholder="Nome do Usuário">
        <input type="email" class="input square" placeholder="Email corporativo">
        <input type="email" class="input square" placeholder="Email">
        <input type="number" class="input square" placeholder="Telefone">
        <input type="password" class="input square" placeholder="senha">
    </div>

    <div class="container">
        <input type="text" class="input round" placeholder="Nome do Usuário">
        <input type="email" class="input round" placeholder="Email corporativo">
        <input type="email" class="input round" placeholder="Email">
        <input type="number" class="input round" placeholder="Telefone">
        <input type="password" class="input round" placeholder="senha">
    </div>

    <div class="container">
            <input type="text" class="input-mobile" placeholder="Nome do Usuário">
            <input type="email" class="input-mobile" placeholder="Email corporativo">
            <input type="email" class="input-mobile" placeholder="Email">
            <input type="number" class="input-mobile" placeholder="Telefone">
    </div>

        <div class="container">
            <input type="text" class="input__outline--primary" placeholder="Nome do Usuário">
            <input type="email" class="input__outline--sucess" placeholder="Email corporativo">
            <input type="email" class="input__outline--error" placeholder="Email">
            <input type="number" class="input__outline--warning" placeholder="Telefone">
        </div>

        <div class="container">
            <input type="text" class="input-mobile input-mobile-outline-primary" placeholder="Nome Completo">
            <input type="text" class="input-mobile input-mobile-outline-sucess" placeholder="Nome de Usuário">
            <input type="text" class="input-mobile input-mobile-outline-error" placeholder="Telefone">
            <input type="text" class="input-mobile input-mobile-outline-warning" placeholder="Endereço">
        </div>

        <div class="container">
            <div class="input-icon ">
                <input type="text" class="input" placeholder="Ead">
                <i class="fe fe-user"></i>
            </div>
        </div>
    

        <div class="container">

            <label for="name">Nome</label>
            <input type="text" class="input input-sm" id="name">
            <label for="name2">Nome</label>
            <input type="text" class="input input-lg" id="name2">
            
        </div>

        <div class="form-group" style="margin: 2rem; width: 720px; border: 1px solid #ddd; padding: 20px;">

            <div>
                <label for="name">Nome</label>
                <input type="text" class="input" id="name">
                <label for="name2">Nome</label>
                <input type="text" class="input" id="name2">
            </div>

            <div>
                <label for="name">Nome</label>
                <input type="text" class="input" id="name">
                <label for="name2">Nome</label>
                <input type="text" class="input" id="name2">
            </div>
        </div>

       
</body>
</html>