<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pill Check</title>
    <link rel="stylesheet" href="../../dist/css/wayami.min.css">
</head>
<body>
    
    <div class="container">

        <ul class="check__pill">
            <li>
                <input type="checkbox" id="checkboxOne" value="HTML5">
                <label for="checkboxOne">HTML5</label> 
            </li>

            <li>
                <input type="checkbox" id="checkboxTwo" value="Css3" checked>
                <label for="checkboxTwo">CSS3</label>
            </li>

            <li>
                <input type="checkbox" id="checkboxfour" value="JS" checked>
                <label for="checkboxfour">JS</label>
            </li>

            <li>
                <input type="checkbox" id="checkboxfive" value="PHP" checked>
                <label for="checkboxfive">PHP</label>
            </li>

        </ul>

    </div>

</body>
</html>