<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Radio Button</title>
    <link rel="stylesheet" href="../../dist/css/wayami.min.css">
</head>
<body>
    
    <div class="container">
        <label class="radio">
            <input type="radio" name="r" value="1" checked>
            <span>Radio 1</span>
        </label>
        <label class="radio">
            <input type="radio" name="r" value="2">
            <span>Radio 2</span>
        </label>
        <label class="radio">
            <input type="radio" name="r" value="3">
            <span>Radio 3</span>
        </label>
    </div>

</body>
</html>