<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Select</title>
    <link rel="stylesheet" href="../../dist/css/wayami.min.css">
</head>

<body>

    <div class="container">

        <div class="select">
            <select>
                <option>First select</option>
                <option>Option</option>
                <option>Option</option>
            </select>
            <div class="select__arrow"></div>
        </div>

        <div class="select disabled">
            <select disabled="disabled">
                <option>Disabled</option>
                <option>Option</option>
                <option>Option</option>
            </select>
            <div class="select__arrow"></div>
        </div>

    </div>

</body>

</html>