<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Togle</title>
    <link rel="stylesheet" href="../../dist/css/wayami.min.css">
</head>

<body>

    <div class="container">

        <li class="tg-list-item">
            <input class="togle togle-ios" id="togle-2" type="checkbox" />
            <label class="togle-btn orange" for="togle-2"></label>
        </li>


    </div>
</body>

</html>