.footer 
    padding 15px
    display flex
    background-color #fff
    border-top 1px solid #ddd
    color #313131
    @media all and (max-width: 767px)
        display flex
        flex-wrap: wrap

.footer__row
    padding 10px 15px
    >h1,h2,h3,h4,h5
        font-weight 500
        font-size 1.3rem

.footer__row ul li 
    position relative
    margin 10px 0

.footer li a
    color #313131
    font-size 17px
    &:hover
        text-decoration underline

.footer__copyright
    border-top 1px solid #ddd
    background-color #fff
    padding 0 15px

